// COLOR VARIABLES
$color-white: #f1f1f1;
$color-gray-light: #f5f5f5;
$color-gray-dark: #3b3939;
$color-yellow: #ffcc40;
$color-brick: #c91616;
$color-fire: #ff851b;

// FONT WEIGHTS
$fw-thin: 100;
$fw-lighter: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-heavy: 900;


// TYPEFACES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Rubik Dirt', cursive;

// RESPONSIVE FONT SIZES
$size-heading-1: clamp(4.5rem, 10vw, 12rem);
$size-heading-2: clamp(4rem, 6vw, 5rem);
$size-heading-3: clamp(1.8rem, 2vw, 4rem);
$size-heading-4: clamp(2rem, 4vw, 4rem);
$size-heading-5: clamp(1.6rem, 2vw, 3rem);
$size-heading-6: clamp(1rem, 2vw, 2rem);
$size-p: clamp(1.6rem, 2vw, 2rem);

// RESPONSIVE BREAKPOINTS
$bp-phone: 480px;
$bp-tabport: 768px;
$bp-tabland: 1080px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;

