
// COLOR VARIABLES
$color-black: #000;
$color-purple: #3a41aa;
$color-yellow: #f6bf00;
$color-gray: #aaa;

// FONT VARIABLES
$font-hero: 'Graduate', cursive;
$font-primary: 'Roboto', sans-serif;
$font-accent: 'Arvo', serif;

// RESPONSIVE BREAKPOINTS
$bp-monitor: 112.5em;  // 1800px
$bp-laptop: 87.5em;  // 1400px
$bp-tabland: 75em;  // 1200px
$bp-tabport: 50em;   // 800px
$bp-phone: 37.5em;  // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  // overflow: hidden;
}

body {
    font-family: $font-primary;
    background-color: $color-black;
    color: $color-purple;
    font-weight: 400;
    line-height: 1.6;
  }

  .container {
    display: grid;
    grid-template-rows: [header-start] 25vh
                        [header-end main-start] 80vh 
                        [main-end story-start] min-content 
                        [story-end cta-start] min-content 
                        [cta-end testimonials-start] min-content 
                        [testimonials-end contact-start] min-content 
                        [contact-end locations-start] min-content 
                        [locations-end pricing-start] min-content
                        [pricing-end footer-start] 15vh [footer-end];
  }
