.container {
    display: grid;
    grid-template-columns: [full-start] minmax(2vw, 4vw) [main-start] repeat(10, ([col-start] minmax(min-content, 1fr) [col-end])) [main-end] minmax(2vw, 4vw) [full-end];
  }