.nav {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  grid-row: nav-start / nav-end;
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: $color-beige;

  &__links {
    display: none;
  }

  &__btn {
    display: none;
  }
  &__burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    width: 2.5rem;
    
    &-bar {
      display: block;
      height: 4px;
      width: 100%;
      background: $color-red;
      border-radius: 5px;
      margin: .4rem 0;
    }
  }
}