*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Source Pro Sans", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  font-size: 1.6rem;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

p {
  font-size: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 4rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1.8rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

.mb-xl {
  margin-bottom: 10rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 4rem;
}

.mt-lg {
  margin-top: 8rem;
}

.mt-xl {
  margin-top: 10rem;
}

.uppercase {
  text-transform: uppercase;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.about {
  background-color: #cacaca;
  grid-row: 2/3;
  grid-column: col-start 1/full-end;
  box-shadow: inset 0px -10px 5px 10px #0f0f0f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.about__photos {
  margin: 5%;
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about__photos-img1 {
  width: 70%;
  height: auto;
  border: 10px solid #868686;
  border-radius: 5px;
}
.about__photos-img2 {
  width: 60%;
  height: auto;
  border: 10px solid #868686;
  border-radius: 5px;
  margin: -10% 30%;
}
.about__story {
  grid-column: 3/span 4;
  margin: 8rem;
  color: #0f0f0f;
}
.about__story-title {
  font-size: 3rem;
  font-family: "Charm", Times, serif;
  color: #535353;
}
.about__story-text {
  color: #0f0f0f;
  margin: 2rem;
  line-height: 1.5;
}
.about .hours__title {
  font-size: 6rem;
  font-family: "Charm", Times, serif;
  color: #535353;
  margin-top: 4rem;
}
.about .hours__list {
  list-style-type: none;
  line-height: 2;
}
.about .hours__item {
  margin-right: 2rem;
  text-indent: 3rem;
}

.artists {
  background-color: #535353;
  grid-row: 3/4;
  grid-column: col-start 1/full-end;
}

.contact {
  background-color: #000000;
  grid-row: 4/5;
  grid-column: col-start 1/full-end;
}

.footer {
  background-color: #0f0f0f;
  grid-row: 6/7;
  grid-column: col-start 1/full-end;
}

.gallery {
  background-color: #cacaca;
  grid-row: 5/6;
  grid-column: col-start 1/full-end;
}

.container {
  display: grid;
  grid-template-rows: 100vh 40vw repeat(4, min-content);
  grid-template-columns: 8vw [full-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 1fr [full-end];
}

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("assets/img/back-tat.jpg");
  background-size: cover;
  grid-row: 1/2;
  grid-column: col-start 1/col-end 6;
  box-shadow: inset 0px 0px 10px 10px #0f0f0f;
}

#logo {
  width: 50%;
  height: auto;
  margin: 6rem 1rem;
}

.navbar {
  background-color: #0f0f0f;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.sidebar {
  background-color: #0f0f0f;
  grid-row: 1/2;
  grid-column: col-start 7/full-end;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.sidebar__title {
  font-size: 10rem;
  font-family: "Charm", Times, serif;
  color: #535353;
  text-align: center;
}
.sidebar__msg {
  font-size: 2.5rem;
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  margin: 3rem;
  color: #535353;
}
.sidebar__scroll {
  display: block;
  margin: auto auto;
}/*# sourceMappingURL=main.css.map */