// COLOR VARIABLES

$color-brown-light: #8a7968;
$color-brown-dark: #6f5e53;
$color-tan-light: #c3a995;
$color-tan-dark: #ab947e;
$logo-color-green: #706F29;
$logo-color-brown: #704029;
$color-white: #fff;
$color-white-muted: #fff8;

// FONT VARIABLES

$font-primary: 'Raleway', sans-serif; 
$font-accent: 'Neuton', serif;

// TYPOGRAPHY

$image-shadow: 0 8px 10px #0005;



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $logo-color-brown;
    font-weight: 300;
    line-height: 1.6;
    overflow-x: hidden;

    background-image: linear-gradient(rgba($color-brown-dark, .85), rgba($color-brown-light, .3)), url(../img/landing-background.jpg);
    background-color: $color-brown-dark;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
  
.container {
    display: grid;
    grid-template-rows: 
        [header-start] 20vh [header-end 
        nav-start] min-content [nav-end 
        landing-start] calc(80vh - 7rem) [landing-end 
        atmosphere-start] 100vh [atmosphere-end 
        food-start] 100vh [food-end 
        drinks-start] 100vh [drinks-end 
        footer-start] 5vh [footer-end];
    grid-template-columns: repeat(16, 1fr);
}
