// COLOR VARIABLES
$color-white-light: #ebebeb;
$color-white-dark: #cacaca;
$color-gray-light: #868686;
$color-gray-dark: #535353;
$color-black-light: #0f0f0f;
$color-black-dark: #000000;


// FONT WEIGHTS
$fw-thin: 100;
$fw-lighter: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-heavy: 900;


// TYPEFACES
$font-primary: 'Source Sans Pro', sans-serif;
$font-accent: 'Charm', Times, serif;


// RESPONSIVE BREAKPOINTS
$bp-phone: 480px;
$bp-tabport: 768px;
$bp-tabland: 1080px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;
