body {
    background-color: $color-gray-dark;
    color: $color-white;
}

.main-content {
    background-color: $color-gray-dark;
    color: $color-white;
}

.footer {
    background-color: $color-gray-dark;
    color: $color-white;
}