@mixin underline {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $color-font-accent;
  transform-origin: left;
  transition: transform 0.3s ease;
}

@mixin underline_after {
  transform: scaleX(1.1);
  transform-origin: left
}
