// COLOR VARIABLES
$color-pink: #de7ea4;
$color-red: #680301;
$color-beige: #ffb043;
$color-gray-light: #e5e5e5;
$color-gray-dark: #8d7e7e;
$color-black: #302f2f;
$color-white: #f8f8f8;

// FONT WEIGHTS
$fw-thin: 100;
$fw-lighter: 200;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-heavy: 900;


// TYPEFACES
$font-display: 'Great Vibes', cursive;
$font-primary: 'Lato', sans-serif;

// RESPONSIVE FONT SIZES
$size-heading-1: clamp(4rem, 8vw, 9rem);
$size-heading-2: clamp(4rem, 6vw, 5rem);
$size-heading-3: clamp(1.8rem, 2vw, 4rem);
$size-heading-4: clamp(2rem, 4vw, 4rem);
$size-heading-5: clamp(1.6rem, 2vw, 3rem);
$size-heading-6: clamp(1rem, 2vw, 2rem);
$size-p: clamp(1.6rem, 2vw, 2rem);

// RESPONSIVE BREAKPOINTS
$bp-phone: 480px;
$bp-tabport: 768px;
$bp-tabland: 1080px;
$bp-laptop: 1280px;
$bp-desktop: 1440px;

