*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

.container {
  display: grid;
  grid-template-rows: [header-start] -webkit-min-content [header-end main-start] 85vh [main-end reviews-start] 70vh [reviews-end reasons-start] 80vh [reasons-end guarantee-start] 25vh [guarantee-end services-start] 40vh [services-end highlights-start] -webkit-min-content [highlights-end footer-start] 30vh [footer-end];
  grid-template-rows: [header-start] min-content [header-end main-start] 85vh [main-end reviews-start] 70vh [reviews-end reasons-start] 80vh [reasons-end guarantee-start] 25vh [guarantee-end services-start] 40vh [services-end highlights-start] min-content [highlights-end footer-start] 30vh [footer-end];
}

.home-link {
  font-size: 1.2rem;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.6rem;
  text-decoration: none;
}

.header {
  grid-row: header-start/header-end;
  position: relative;
}

.top-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4e6c50;
  color: #e9e9e9;
  font-size: 1.6rem;
  padding: 2rem;
}
.top-banner__text {
  margin: 1rem 1rem;
}

#logo {
  width: 30rem;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
}
.navbar__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: #4e6c50;
}
.navbar__burger {
  min-width: 4rem;
  height: 4rem;
  background-color: #AA8B56;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.navbar__burger-slice {
  width: 3rem;
  height: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F0EBCE;
  border-radius: 3px;
}
.navbar__burger-slice::before, .navbar__burger-slice::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  border-radius: 3px;
  background-color: #F0EBCE;
}
.navbar__burger-slice::before {
  transform: translateY(-1rem);
}
.navbar__burger-slice::after {
  transform: translateY(1rem);
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 6rem;
}

.mt-lg {
  margin-top: 10rem;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 6rem;
}

.mb-lg {
  margin-bottom: 10rem;
}

.strong {
  font-size: inherit;
  font-weight: 600;
}

.green {
  color: #007c3a;
}

.underline {
  text-decoration: underline;
}

.btn {
  background-color: #007c3a;
  color: #e9e9e9;
  border: 2px solid #AA8B56;
  font-weight: 600;
}

.form {
  background-color: #FFF;
  margin: 2rem;
}
.form input {
  background-color: #e3ffff;
  color: rgba(43, 42, 42, 0.8431372549);
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 2;
  margin: 0.4rem 1.4rem;
  border: none;
  padding: 1rem 0.6rem;
}

.main-content {
  background-image: linear-gradient(to bottom, rgba(78, 108, 80, 0.8), rgba(78, 108, 80, 0.6)), url("../img/hero.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content__heading {
  font-size: 2.2rem;
  color: #F0EBCE;
  text-align: center;
}
.main-content__cta {
  min-width: 50%;
  height: auto;
  padding: 0.8rem;
}
.main-content__text {
  background-color: transparent;
  color: #F0EBCE;
  font-size: 1.4rem;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  line-height: 1.4;
}

.form-estimate {
  background-color: #FFF;
  color: rgba(43, 42, 42, 0.8431372549);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-estimate__heading {
  text-align: center;
  color: rgba(43, 42, 42, 0.8431372549);
  padding: 2rem 0;
}
.form-estimate__submit {
  background-color: #f8b410 !important;
}

.google-logo {
  width: 30px;
  height: auto;
}

.disclaimer {
  font-size: 0.8rem;
  color: rgba(43, 42, 42, 0.8431372549);
  text-align: center;
}/*# sourceMappingURL=main.css.map */